body {
	line-height: 140%;
	font-size: 0.8em;
}
div.group {
	padding: 7px;
	float: left;
	width: 45%;
	margin: 10px;
}
form {
	float: right;
	margin: 5px;
}
h2 {
	font-size: 130%;
	margin: 0px;
	padding: 5px;
	margin-bottom: 8px;
	border-bottom: solid 1px #444;
	background-color: #f5f5f5;
}
table, th, td {
	border: solid 1px #444;
	border-collapse: collapse;
}
th, td {
	padding: 2px 5px;
}
th {
	background-color: #eaeaea;
}
tr.alt {
	background-color: #f6f6f6;
}