<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.web>
    
    <httpRuntime targetFramework="4.5.1" />
    
    <compilation debug="true" targetFramework="4.5.1" />

  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="quartz" path="quartz/*" verb="*" type="QuartzNetWebConsole.ControllerFactory, QuartzNetWebConsole"/>
    </handlers>
  </system.webServer>
</configuration>
