<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.0.0" targetFramework="net35" requireReinstallation="True" />
  <package id="Common.Logging.Core" version="3.0.0" targetFramework="net35" requireReinstallation="True" />
  <package id="Quartz" version="2.3.2" targetFramework="net35" requireReinstallation="True" />
  <package id="ILMerge" version="2.14.1208" targetFramework="net45" />
</packages>